body{
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#dbeeff;
    font-family:Georgia, serif;
}

.book{
    width:540px;
    height:770px;
    background:linear-gradient(to bottom,#9fc0dd,#c6d9ea);
    border-radius:20px;
    position:relative;
    overflow:hidden;
}

.content{
    padding:40px;
}

h1{
    font-size:62px;
    line-height:1.1;
    margin:0;
    font-weight:bold;
}

.subtitle{
    margin-top:25px;
    font-size:18px;
    font-style:italic;
    line-height:1.6;
}

.photo{
    position:absolute;
    right:35px;
    bottom:115px;
}

.photo img{
    width:135px;
    height:165px;
    object-fit:cover;
    border:4px solid white;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

.footer{
    position:absolute;
    bottom:0;
    width:100%;
    background:#163f89;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:18px 30px;
    box-sizing:border-box;
    font-size:20px;
    font-weight:bold;
}